.container
  .page-header
    %h3
      New Task
      %h3
  %ol.breadcrumb
    %li= link_to 'Tasks', tasks_path
    %li New Task
  - @task.errors.any?
    - if @task.errors.full_messages.each do |msg|
      .alert.alert-danger
        %h1 #{pluralize((@task.errors.size),'error')} prohibited this form from being saved: 
        %ul
          %li= msg
    = render "form"
