.container
  .page-header
    .pull-right
      = link_to 'New User', new_user_path, class: "btn btn-info"
    %h1 Users
  %table.table
    %thead
      %tr
        %th Name
        %th Email
        %th
    -if current_user.admin
      - @users.each do |user|
        %tr
          %td
            =link_to user.first_name + ' ' + user.last_name, user_path(user)
          %td
            =mail_to user.email
          %td.text-right
            =link_to 'Edit', edit_user_path(user)
    -else
      -@users.each do |user|
        %tr
          %td
            =link_to user.first_name + ' ' + user.last_name, user_path(user)
          -if current_user.id == user.id || current_user.project_member_of(user)
            %td
              =mail_to user.email
            %td
              =link_to 'Edit', edit_user_path(user)
          -else
            %td
            %td
