.container
  .page-header
    .pull-right
      = link_to 'New User', new_user_path, class: "btn btn-info"
    %h1 Users
  %table.table
    %thead
      %tr
        %th Name
        %th Email
    - @users.each do |user|
      %tr
        %td
          = link_to user.first_name + ' ' + user.last_name , user_path(user)
        -user.memberships.each do |membership|
          -if current_user.id == user.id
            %td  
              = mail_to user.email
            %td.text-right
              = link_to 'Edit', edit_user_path(user)
          -else
            %td.text-right
