-if error.errors.any?
  .alert.alert-danger.col-sm6
    %h3 #{pluralize((error.errors.size),'error')} prohibited this form from being saved:
    - error.errors.full_messages.each do |msg|
      %ul
        %li= msg
