<nav class="navbar navbar-default navbar-fixed-top navbar-inverse ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">gSchool</a>
  </div>
</nav>
<div class="container">
  <div class="jumbotron">
    <h1>gCamp</h1>
    </br>
    <p>your life, organized.</p>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-4">
      <p class="lead">
        <%=image_tag("Pic1.jpg", class:"img-responsive")%>
      </p>
    </div>

    <div class="col-md-4">
      <p class="lead">
        <%=image_tag("Pic2.jpg", class:"img-responsive")%>
      </p>
    </div>

    <div class="col-md-4">
      <p class="lead">
        <%=image_tag("Pic3.jpg", class:"img-responsive")%>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>Tasks</strong></h3>
        </div>
        <div class="panel-body">
          Grouped by projects and lists. Just the way you like'em.
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default panel-info panel-responsive">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>Permissions</strong></h3>
        </div>
        <div class="panel-body">
          Fine-Grained permissions.</br>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>Comments</strong></h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>Comment on tasks and documents</li>
            <li>Get e-mail notifications</li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>
