<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">gSchool</a>
    </div>
  </nav>



























</div>
