@import "bootstrap-sprockets";
@import "bootstrap";

body { padding-top: 70px; }

footer.col-md-4 {

  float:right;

}

footer {
  padding-bottom:5px;

}

.breadcrumb > li + li:before {
    color:black;
    content: ">";
    padding: 0 5px;
}

.breadcrumb {
  background-color:white;
}

.checkbox {
  padding-left:0px;
}

.header-line {
  text-decoration-line: line-through;
}
