body { padding-top: 70px; }

footer.col-md-4 {

  float:right;

}

footer {
  border-top:1px solid gray;
  padding-top:5px;
  padding-bottom:5px;

}


 @import "bootstrap-sprockets";
 @import "bootstrap";
